body {
	background:#000;
	color:#FFF;
	padding:30px;
	font-family: 'Open Sans', sans-serif;
}

div.widget {
	background:#111;
	border:2px solid #666;
	padding:20px;
	border-radius:8px;
	height:230px;
	width:230px;
	text-align:center;
}

div.widget div.content {
	width:inherit;
	height:inherit;
	display: table-cell;
	vertical-align:middle;
	text-align:center;
	font-size:2em;
	font-weight:bold;
}


div.widget div.system-info {
	position: absolute;
	bottom: 20px;
	left: 0;
	width:100%;
	color: #666;
	padding: 0 0 0 0;
}

.green {
	color:green;
}

.red {
	color:red;
}

div#content {
	position:relative;
}

div#footer {
	position:absolute;
	bottom:0;
}

div#lasterror {
	float:left;
}

div#refreshin {
	margin:0;
	padding:0;
	font-size:11pt;
	color:#555;
}
