body {
  background: #000;
  color: #FFF;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
}

@widget-padding: 20px;
.widget {
  background: #111;
  border: 2px solid #666;
  padding: 0;
  text-align: center;

  .system-info {
    position: absolute;
    bottom: @widget-padding;
    padding: 0;
    color: #666;
    width: 100%;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}
